openapi: 3.0.0
info:
  title: ICAA Event Registration
  version: 1.0.0
  description: An API for managing events and signing up for events.
servers:
  - url: https://api.icaa.world/
    description: Production server
  - url: http://localhost:3000/
    description: Local dev server
security:
  - googleCookieAuth: []
  - googleBearerAuth: []
paths:
  /events/v1:
    get:
      summary: Get all events
      description: Retrieves a list of all events
      security: []
      parameters:
        - name: cursor
          in: query
          description: Cursor of where to start from
          required: false
          schema:
            type: string
            example: "Y29uZ3JhdHMsIHlvdSBmb3VuZCB0aGUgZWFzdGVyIGVnZw=="
        - name: limit
          in: query
          description: Max amount of events to fetch
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 50
            example: 10
      responses:
        '200':
          description: A list of events.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - hasNextPage
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  cursor:
                    type: string
                    example: "Y29uZ3JhdHMsIHlvdSBmb3VuZCB0aGUgZWFzdGVyIGVnZw=="
                  hasNextPage:
                    type: boolean
                    example: true
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error' 
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new event
      description: Admin endpoint to create a new event
      security:
        - googleCookieAuth: [admin]
        - googleBearerAuth: [admin]
      requestBody:
        description: Event to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: The created event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/v1/{id}:
    get:
      summary: Get an event
      description: Get one event by id
      security: []
      parameters:
        - name: id
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: The event
          content:
            application/json:
              schema:
                type: object
                required:
                  - event
                properties:
                  event:
                    $ref: '#/components/schemas/Event'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error' 
        '404':
          description: Event not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error' 
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Update an event
      description: Update an event by id
      security:
        - googleCookieAuth: [admin]
        - googleBearerAuth: [admin]
      parameters:
        - name: id
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
      requestBody:
        description: Event to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: The updated event
          content:
            application/json:
              schema:
                type: object
                required:
                  - event
                properties:
                  event:
                    $ref: '#/components/schemas/Event'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error' 
        '404':
          description: Event not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error' 
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /events/v1/{eventId}/register:
    post:
      summary: Sign up for an event
      description: Deprecated in favor of the payment sign up flow, will be removed in the future.
      deprecated: true
      security: []
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
        - name: cf-turnstile-response
          in: header
          description: Cloudflare turnstile CAPTCHA
          required: true
          schema:
            type: string
            example: XXXX.DUMMY.TOKEN.XXXX 
      requestBody:
        description: Registration to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Registration'
      responses:
        '200':
          description: The created registration.
          content:
            application/json:
              schema:
                type: object
                required:
                  - registration
                properties:
                  registration:
                    $ref: '#/components/schemas/Registration'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not allowed to register.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event is not found to register with
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Someone is already signed up under this email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/v1/{eventId}/registrations:
    get:
      summary: Get all registrations for an event
      description: Get all registrations for an event
      security:
        - googleCookieAuth: [admin]
        - googleBearerAuth: [admin]
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
        - name: cursor
          in: query
          description: Cursor of where to start from
          required: false
          schema:
            type: string
            example: "12345"
        - name: limit
          in: query
          description: Max amount of registrations to fetch
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 50
            example: 10
      responses:
        '200':
          description: A list of registrations.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - hasNextPage
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Registration'
                  cursor:
                    type: string
                    example: "54321"
                  hasNextPage:
                    type: boolean
                    example: true
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error' 
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Sign up for an event
      description: Starts an event sign up flow
      security: []
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
        - name: cf-turnstile-response
          in: header
          description: Cloudflare turnstile CAPTCHA
          required: true
          schema:
            type: string
            example: XXXX.DUMMY.TOKEN.XXXX 
      requestBody:
        description: Registration to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Registration'
      responses:
        '200':
          description: The created registration with payment info.
          content:
            application/json:
              schema:
                type: object
                required:
                  - info
                properties:
                  info:
                    $ref: '#/components/schemas/RegistrationPaymentInfo'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not allowed to register.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event is not found to register with
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Someone is already signed up under this email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /events/v1/{eventId}/teams:
    get:
      summary: Get all teams for an event
      description: Retrieves a list of all teams for an event
      security: []
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
        - name: cursor
          in: query
          description: Cursor of where to start from
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Max amount of teams to fetch
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 50
      responses:
        '200':
          description: A list of teams.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - hasNextPage
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Team'
                  cursor:
                    type: string
                  hasNextPage:
                    type: boolean
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new team
      description: Admin endpoint to create a new team for an event
      security:
        - googleCookieAuth: [admin]
        - googleBearerAuth: [admin]
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Team to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Team'
      responses:
        '200':
          description: The created team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /events/v1/{eventId}/teams/{teamId}:
    get:
      summary: Get a team
      description: Get one team by id
      security: []
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
        - name: teamId
          in: path
          description: ID of the team
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '404':
          description: Team not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Update a team
      description: Admin endpoint to update a team
      security:
        - googleCookieAuth: [admin]
        - googleBearerAuth: [admin]
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
        - name: teamId
          in: path
          description: ID of the team
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Team to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Team'
      responses:
        '200':
          description: The updated team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Team not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /events/v1/{eventId}/teams/{teamId}/players:
    post:
      summary: Add a player to a team
      description: Admin endpoint to add an individual registration to a team
      security:
        - googleCookieAuth: [admin]
        - googleBearerAuth: [admin]
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
        - name: teamId
          in: path
          description: ID of the team
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Player to add
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamPlayer'
      responses:
        '200':
          description: The updated team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Team not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /events/v1/{eventId}/games:
    get:
      summary: Get all games for an event
      description: Retrieves a list of all games for an event. Requires event schedule to be public.
      security: []
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
        - name: cursor
          in: query
          description: Cursor of where to start from
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Max amount of games to fetch
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 50
      responses:
        '200':
          description: A list of games.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - hasNextPage
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Game'
                  cursor:
                    type: string
                  hasNextPage:
                    type: boolean
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Schedule is not public.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new game
      description: Admin endpoint to create a new game for an event
      security:
        - googleCookieAuth: [admin]
        - googleBearerAuth: [admin]
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Game to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Game'
      responses:
        '200':
          description: The created game.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Game'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /events/v1/{eventId}/games/{gameId}:
    get:
      summary: Get a game
      description: Get one game by id. Requires event schedule to be public.
      security: []
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
        - name: gameId
          in: path
          description: ID of the game
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The game
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Game'
        '403':
          description: Schedule is not public.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Game not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Update a game
      description: Admin endpoint to update a game or record results
      security:
        - googleCookieAuth: [admin]
        - googleBearerAuth: [admin]
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
        - name: gameId
          in: path
          description: ID of the game
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Game to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Game'
      responses:
        '200':
          description: The updated game.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Game'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Game not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a game
      description: Admin endpoint to delete a game. Cannot delete games with recorded results.
      security:
        - googleCookieAuth: [admin]
        - googleBearerAuth: [admin]
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
        - name: gameId
          in: path
          description: ID of the game
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Game deleted successfully.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Game not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /events/v1/{eventId}/standings:
    get:
      summary: Get standings for an event
      description: Retrieves the standings for an event. Requires event schedule to be public.
      security: []
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The standings.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Standing'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Schedule is not public.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /teams/v1:
    get:
      summary: Get all teams
      description: Retrieves a list of all teams
      security: []
      parameters:
        - name: cursor
          in: query
          description: Cursor of where to start from
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Max amount of teams to fetch
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 50
      responses:
        '200':
          description: A list of teams.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - hasNextPage
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/GlobalTeam'
                  cursor:
                    type: string
                  hasNextPage:
                    type: boolean
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new team
      description: Admin endpoint to create a new team
      security:
        - googleCookieAuth: [admin]
        - googleBearerAuth: [admin]
      requestBody:
        description: Team to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalTeam'
      responses:
        '200':
          description: The created team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalTeam'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /teams/v1/{teamId}:
    get:
      summary: Get a team
      description: Get one team by id
      security: []
      parameters:
        - name: teamId
          in: path
          description: ID of the team
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalTeam'
        '404':
          description: Team not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Update a team
      description: Admin endpoint to update a team
      security:
        - googleCookieAuth: [admin]
        - googleBearerAuth: [admin]
      parameters:
        - name: teamId
          in: path
          description: ID of the team
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Team to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalTeam'
      responses:
        '200':
          description: The updated team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalTeam'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Team not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a team
      description: Admin endpoint to delete a team
      security:
        - googleCookieAuth: [admin]
        - googleBearerAuth: [admin]
      parameters:
        - name: teamId
          in: path
          description: ID of the team
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Team deleted successfully.
        '404':
          description: Team not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /teams/v1/{teamId}/events:
    get:
      summary: Get all event participations for a team
      description: Retrieves all events where this team has participated
      security: []
      parameters:
        - name: teamId
          in: path
          description: ID of the team
          required: true
          schema:
            type: string
            format: uuid
        - name: cursor
          in: query
          description: Cursor of where to start from
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Max amount of events to fetch
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 50
      responses:
        '200':
          description: A list of event team participations.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - hasNextPage
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventTeam'
                  cursor:
                    type: string
                  hasNextPage:
                    type: boolean
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    googleCookieAuth:
      type: apiKey
      in: cookie
      name: GOOGLE_AUTH_JWT
    googleBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Event:
      type: object
      required:
        - id
        - version
        - name
        - location
        - startTime
        - endTime
        - registrationCloseTime
        - registrationOptions
        - allowedTeamSizeRange
        - signUpStats
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        version:
          type: integer
          readOnly: true
          example: 1
        name:
          type: string
          minLength: 3
          maxLength: 255
          example: ICAA Cup 2025
        location:
          $ref: '#/components/schemas/Location'
        timeZone:
          type: string
          description: Time zone of the event. Defaults to UTC if not set.
          example: America/New_York
        startTime:
          type: string
          format: date-time
          example: "2025-08-19T18:46:53.185Z"
        endTime:
          type: string
          format: date-time
          example: "2025-08-19T22:00:00.000Z"
        registrationCloseTime:
          type: string
          format: date-time
          example: "2025-08-17T23:59:59.000Z"
        registrationOptions:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/EventRegistrationOption'
        allowedTeamSizeRange:
          $ref: '#/components/schemas/Range'
        signUpStats:
          $ref: '#/components/schemas/SignUpStats'
        rulesDocLink:
          type: string
          maxLength: 500
          example: https://docs.google.com/document/d/adsffafsafsadfd/view
        imageName:
          type: string
          maxLength: 500
          description: A file name that exists in the UI assets to use as the logo.
          example: boston-tournament.jpg
        schedulePublic:
          type: boolean
          description: Whether the schedule and standings are publicly visible.
          default: false
          example: true
    SignUpStats:
      type: object
      readOnly: true
      required:
        - numTeams
        - numRosteredPlayers
        - numTotalPlayers
      properties:
        numTeams:
          type: integer
          example: 10
          minimum: 0
        numRosteredPlayers:
          type: integer
          example: 50
          minimum: 0
        numTotalPlayers:
          type: integer
          example: 55
          minimum: 0
    Registration:
      oneOf:
        - $ref: '#/components/schemas/IndividualRegistration'
        - $ref: '#/components/schemas/TeamRegistration'
      discriminator:
        propertyName: registrationType
        mapping:
          ByIndividual: '#/components/schemas/IndividualRegistration'
          ByTeam: '#/components/schemas/TeamRegistration'
    IndividualRegistration:
      type: object
      required:
        - registrationType
        - id
        - version
        - eventId
        - registeredAt
        - email
        - homeCity
        - playerInfo
        - experience
        - paid
      properties:
        registrationType:
          $ref: '#/components/schemas/RegistrationType'
        id:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        version:
          type: integer
          readOnly: true
          example: 1
        eventId:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        registeredAt:
          type: string
          format: date-time
          readOnly: true
          example: "2025-08-19T18:46:53.185Z"
        email:
          type: string
          format: email
          minLength: 3
          maxLength: 100
          example: jane.doe@example.com
        homeCity:
          type: string
          minLength: 3
          maxLength: 100
          example: Anytown, USA
        playerInfo:
          $ref: '#/components/schemas/PlayerInfo'
        experience:
          $ref: '#/components/schemas/ExperienceLevel'
        paid:
          type: boolean
          readOnly: true
          example: true
    TeamRegistration:
      type: object
      required:
        - registrationType
        - id
        - version
        - eventId
        - registeredAt
        - teamName
        - homeCity
        - captainEmail
        - players
        - paid
      properties:
        registrationType:
          $ref: '#/components/schemas/RegistrationType'
        id:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        version:
          type: integer
          readOnly: true
          example: 1
        eventId:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        registeredAt:
          type: string
          format: date-time
          readOnly: true
          example: "2025-08-19T18:46:53.185Z"
        teamName:
          type: string
          minLength: 3
          maxLength: 100
          example: The Fighting Mongooses
        homeCity:
          type: string
          minLength: 3
          maxLength: 100
          example: Anytown, USA
        captainEmail:
          type: string
          format: email
          minLength: 3
          maxLength: 100
          example: captain@example.com
        players:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/PlayerInfo'
        paid:
          type: boolean
          readOnly: true
          example: true
    PlayerInfo:
      type: object
      required:
        - firstName
        - lastName
      properties:
        firstName:
          type: string
          minLength: 1
          maxLength: 50
          example: Jane
        lastName:
          type: string
          minLength: 1
          maxLength: 50
          example: Doe
        email:
          type: string
          format: email
          minLength: 3
          maxLength: 100
          example: player@example.com
          description: Optional email for each player
    Location:
      type: object
      required:
        - name
        - address
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
          example: Anytown Community Center
        address:
          $ref: '#/components/schemas/Address'
    Address:
      type: object
      properties:
        street:
          type: string
          description: Street address
          minLength: 3
          maxLength: 255
          example: 123 Main St
        city:
          type: string
          description: City or town
          minLength: 3
          maxLength: 50
          example: Anytown
        state:
          type: string
          description: State or province
          minLength: 2
          maxLength: 50
          example: CA
        postalCode:
          type: string
          description: Postal code
          minLength: 3
          maxLength: 20
          example: "90210"
        country:
          type: string
          description: Country
          minLength: 2
          maxLength: 50
          example: USA
      required:
        - street
        - city
        - state
        - postalCode
        - country
    Range:
      type: object
      required:
        - min
        - max
      properties:
        min:
          type: integer
          example: 1
          minimum: 0
        max:
          type: integer
          example: 5
          minimum: 1
    Money:
      type: object
      required:
        - currency
        - amount
      properties:
        currency:
          type: string
          format: iso-4217
          example: USD
        amount:
          type: integer
          description: Minor units of money (i.e. 100 == $1 in USD)
          example: 100
    EventRegistrationOption:
      type: object
      required:
        - registrationType
        - price
      properties:
        registrationType:
          $ref: '#/components/schemas/RegistrationType'
        price:
          $ref: '#/components/schemas/Money'
    RegistrationPaymentInfo:
      type: object
      required:
        - clientSecret
        - expiresAt
        - registration
      properties:
        clientSecret:
          type: string
        expiresAt:
          type: string
          format: date-time
        registration:
          $ref: '#/components/schemas/Registration'
    RegistrationType:
      type: string
      enum:
        - ByIndividual
        - ByTeam
      example: ByIndividual
    ExperienceLevel:
      type: string
      enum:
        - Novice
        - Intermediate
        - Advanced
      example: Intermediate
    ErrorCode:
      type: string
      enum:
        - InternalError
        - LimitOutOfBounds
        - InvalidCursor
        - NotFound
        - EmptyBody
        - InvalidBody
        - AlreadyExists
        - RegistrationClosed
        - InputValidationError
        - AuthError
        - CaptchaInvalid
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
          example: InternalError
        message:
          type: string
          example: An unexpected error occurred.
    GlobalTeam:
      type: object
      required:
        - id
        - name
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
          minLength: 3
          maxLength: 100
          example: The Fighting Mongooses
        createdAt:
          type: string
          format: date-time
          readOnly: true
          example: "2025-08-19T18:46:53.185Z"
    EventTeam:
      type: object
      required:
        - id
        - version
        - eventId
        - teamId
        - name
        - sourceType
        - players
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        version:
          type: integer
          readOnly: true
          example: 1
        eventId:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        teamId:
          type: string
          format: uuid
          description: Reference to the team
          example: 00000000-0000-0000-0000-000000000001
        name:
          type: string
          minLength: 3
          maxLength: 100
          example: The Fighting Mongooses
        sourceType:
          $ref: '#/components/schemas/TeamSourceType'
        registrationId:
          type: string
          format: uuid
          nullable: true
          description: Reference to the original team registration if created from registration.
        players:
          type: array
          items:
            $ref: '#/components/schemas/TeamPlayer'
        createdAt:
          type: string
          format: date-time
          readOnly: true
          example: "2025-08-19T18:46:53.185Z"
    Team:
      type: object
      required:
        - id
        - version
        - eventId
        - name
        - sourceType
        - players
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        version:
          type: integer
          readOnly: true
          example: 1
        eventId:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
          minLength: 3
          maxLength: 100
          example: The Fighting Mongooses
        sourceType:
          $ref: '#/components/schemas/TeamSourceType'
        registrationId:
          type: string
          format: uuid
          nullable: true
          description: Reference to the original team registration if created from registration.
        players:
          type: array
          items:
            $ref: '#/components/schemas/TeamPlayer'
        createdAt:
          type: string
          format: date-time
          readOnly: true
          example: "2025-08-19T18:46:53.185Z"
    TeamSourceType:
      type: string
      enum:
        - TeamRegistration
        - AdminCreated
        - Mixed
      example: TeamRegistration
    TeamPlayer:
      type: object
      required:
        - firstName
        - lastName
        - sourceType
        - registrationId
        - assignedAt
      properties:
        firstName:
          type: string
          minLength: 1
          maxLength: 50
          example: Jane
        lastName:
          type: string
          minLength: 1
          maxLength: 50
          example: Doe
        email:
          type: string
          format: email
          minLength: 3
          maxLength: 100
          example: player@example.com
        sourceType:
          $ref: '#/components/schemas/PlayerSourceType'
        registrationId:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        assignedAt:
          type: string
          format: date-time
          example: "2025-08-19T18:46:53.185Z"
    PlayerSourceType:
      type: string
      enum:
        - TeamRegistration
        - IndividualRegistration
      example: TeamRegistration
    Game:
      type: object
      required:
        - id
        - version
        - eventId
        - team1Id
        - team2Id
        - scheduledTime
        - location
        - status
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        version:
          type: integer
          readOnly: true
          example: 1
        eventId:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        team1Id:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000001
        team2Id:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000002
        scheduledTime:
          type: string
          format: date-time
          example: "2025-08-19T18:46:53.185Z"
        location:
          type: string
          minLength: 1
          maxLength: 100
          example: Court 1
        status:
          $ref: '#/components/schemas/GameStatus'
        team1Score:
          type: integer
          nullable: true
          example: 3
        team2Score:
          type: integer
          nullable: true
          example: 2
        winnerId:
          type: string
          format: uuid
          nullable: true
          example: 00000000-0000-0000-0000-000000000001
        roundResults:
          type: array
          items:
            $ref: '#/components/schemas/RoundResult'
        recordedAt:
          type: string
          format: date-time
          nullable: true
          example: "2025-08-19T20:00:00.000Z"
        recordedBy:
          type: string
          nullable: true
          example: admin@example.com
    GameStatus:
      type: string
      enum:
        - Scheduled
        - InProgress
        - Completed
      example: Scheduled
    RoundResult:
      type: object
      required:
        - roundNumber
        - winnerTeamId
      properties:
        roundNumber:
          type: integer
          minimum: 1
          example: 1
        winnerTeamId:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000001
    Standing:
      type: object
      required:
        - eventId
        - teamId
        - teamName
        - wins
        - losses
        - pointsFor
        - pointsAgainst
        - gamesPlayed
        - winPercentage
      properties:
        eventId:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        teamId:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000001
        teamName:
          type: string
          example: The Fighting Mongooses
        wins:
          type: integer
          minimum: 0
          example: 5
        losses:
          type: integer
          minimum: 0
          example: 2
        pointsFor:
          type: integer
          minimum: 0
          example: 150
        pointsAgainst:
          type: integer
          minimum: 0
          example: 120
        gamesPlayed:
          type: integer
          minimum: 0
          example: 7
        winPercentage:
          type: number
          minimum: 0
          maximum: 1
          example: 0.714
