openapi: 3.0.0
info:
  title: ICAA Event Registration
  version: 1.0.0
  description: An API for managing events and signing up for events.
servers:
  - url: https://api.icaa.world/v1
    description: Production server
  - url: http://localhost:8080/v1
    description: Local dev server
paths:
  /events:
    get:
      summary: Get all events
      description: Retrieves a list of all events
      parameters:
        - name: cursor
          in: query
          description: Cursor of where to start from
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Max amount of events to fetch
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 50
      responses:
        '200':
          description: A list of events.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - hasNextPage
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  cursor:
                    type: string
                  hasNextPage:
                    type: boolean
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error' 
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new event
      description: Admin endpoint to create a new event
      requestBody:
        description: Event to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: The created event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/{id}:
    get:
      summary: Get an event
      description: Get one event by id
      parameters:
        - name: id
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error' 
        '404':
          description: Event not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error' 
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/{id}/registration:
    post:
      summary: Sign up for an event
      description: Sign up for an event
      parameters:
        - name: id
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Registration to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Registration'
      responses:
        '200':
          description: The created registration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    Event:
      type: object
      required:
        - id
        - name
        - location
        - startTime
        - endTime
        - registrationCloseTime
        - registrationTypes
        - teamSizeRange
        - signUpStats
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
        location:
          $ref: '#/components/schemas/Location'
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        registrationCloseTime:
          type: string
          format: date-time
        registrationTypes:
          type: array
          items:
            $ref: '#/components/schemas/RegistrationType'
        allowedTeamSizeRange:
          $ref: '#/components/schemas/Range'
        signUpStats:
          $ref: '#/components/schemas/SignUpStats'
    SignUpStats:
      type: object
      properties:
        numTeams:
          type: integer
          readOnly: true
        numRosteredPlayers:
          type: integer
          readOnly: true
        numTotalPlayers:
          type: integer
          readOnly: true
    Registration:
      oneOf:
        - $ref: '#/components/schemas/IndividualRegistration'
        - $ref: '#/components/schemas/TeamRegistration'
    IndividualRegistration:
      type: object
      required:
        - id
        - eventId
        - email
        - homeCity
        - playerInfo
        - experience
        - paid
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        eventId:
          type: string
          format: uuid
          readOnly: true
        registeredAt:
          type: string
          format: date-time
          readOnly: true
        email:
          type: string
          format: email
        homeCity:
          type: string
        playerInfo:
          $ref: '#/components/schemas/PlayerInfo'
        experience:
          $ref: '#/components/schemas/ExperienceLevel'
        paid:
          type: boolean
          readOnly: true
    TeamRegistration:
      type: object
      required:
        - id
        - eventId
        - teamName
        - homeCity
        - captainEmail
        - players
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        eventId:
          type: string
          format: uuid
          readOnly: true
        registeredAt:
          type: string
          format: date-time
          readOnly: true
        teamName:
          type: string
        homeCity:
          type: string
        captainEmail:
          type: string
          format: email
        players:
          type: array
          items:
            $ref: '#/components/schemas/PlayerInfo'
        paid:
          type: boolean
          readOnly: true
    PlayerInfo:
      type: object
      required:
        - firstName
        - lastName
      properties:
        firstName:
          type: string
        lastName:
          type: string
    Location:
      type: object
      required:
        - name
        - address
      properties:
        name:
          type: string
        address:
          $ref: '#/components/schemas/Address'
    Address:
      type: object
      properties:
        street:
          type: string
          description: Street address
        city:
          type: string
          description: City or town
        state:
          type: string
          description: State or province
        postalCode:
          type: string
          description: Postal code
        country:
          type: string
          description: Country
      required:
        - street
        - city
        - state
        - postalCode
        - country
    Range:
      type: object
      required:
        - min
        - max
      properties:
        min:
          type: integer
        max:
          type: integer
    RegistrationType:
      type: string
      enum:
        - ByIndividual
        - ByTeam
    ExperienceLevel:
      type: string
      enum:
        - Novice
        - Intermediate
        - Advanced
    ErrorCode:
      type: string
      enum:
        - InternalError
        - LimitOutOfBounds
        - InvalidCursor
        - NotFound
        - EmptyBody
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        message:
          type: string
