openapi: 3.0.0
info:
  title: ICAA Event Registration
  version: 1.0.0
  description: An API for managing events and signing up for events.
servers:
  - url: https://api.icaa.world/
    description: Production server
  - url: http://localhost:3000/
    description: Local dev server
security:
  - icaaCookieAuth: []
  - icaaBearerAuth: []
paths:
  /events/v1:
    get:
      summary: Get all events
      description: Retrieves a list of all events
      security: []
      parameters:
        - name: cursor
          in: query
          description: Cursor of where to start from
          required: false
          schema:
            type: string
            example: "Y29uZ3JhdHMsIHlvdSBmb3VuZCB0aGUgZWFzdGVyIGVnZw=="
        - name: limit
          in: query
          description: Max amount of events to fetch
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 50
            example: 10
      responses:
        '200':
          description: A list of events.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - hasNextPage
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  cursor:
                    type: string
                    example: "Y29uZ3JhdHMsIHlvdSBmb3VuZCB0aGUgZWFzdGVyIGVnZw=="
                  hasNextPage:
                    type: boolean
                    example: true
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error' 
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new event
      description: Admin endpoint to create a new event
      security:
        - icaaCookieAuth: [admin]
        - icaaBearerAuth: [admin]
      requestBody:
        description: Event to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: The created event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/v1/{id}:
    get:
      summary: Get an event
      description: Get one event by id
      security: []
      parameters:
        - name: id
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: The event
          content:
            application/json:
              schema:
                type: object
                required:
                  - event
                properties:
                  event:
                    $ref: '#/components/schemas/Event'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error' 
        '404':
          description: Event not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error' 
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Update an event
      description: Update an event by id
      security:
        - icaaCookieAuth: [admin]
        - icaaBearerAuth: [admin]
      parameters:
        - name: id
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
      requestBody:
        description: Event to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: The updated event
          content:
            application/json:
              schema:
                type: object
                required:
                  - event
                properties:
                  event:
                    $ref: '#/components/schemas/Event'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error' 
        '404':
          description: Event not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error' 
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /events/v1/teams:
    post:
      summary: Create a new team
      description: Admin endpoint to create a new team (rosters stay empty until player-profiles lands)
      security:
        - icaaCookieAuth: [admin]
        - icaaBearerAuth: [admin]
      requestBody:
        description: Team to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Team'
      responses:
        '200':
          description: The created team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Team name is already taken.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/v1/teams/{teamId}:
    get:
      summary: Get a team
      description: Get one team by id
      security: []
      parameters:
        - name: teamId
          in: path
          description: ID of the team
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: The team
          content:
            application/json:
              schema:
                type: object
                required:
                  - team
                properties:
                  team:
                    $ref: '#/components/schemas/Team'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error' 
        '404':
          description: Team not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error' 
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/v1/{eventId}/teams/{teamId}/seed:
    post:
      summary: Seed a CONFIRMED participation (MVP admin bypass)
      description: MVP-only admin path creating a CONFIRMED participation with an empty roster snapshot plus its team-history row, bypassing the Stage C payment lifecycle. Revisit in Stage C.
      security:
        - icaaCookieAuth: [admin]
        - icaaBearerAuth: [admin]
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
        - name: teamId
          in: path
          description: ID of the team
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: The seeded participation.
          content:
            application/json:
              schema:
                type: object
                required:
                  - participation
                properties:
                  participation:
                    $ref: '#/components/schemas/Participation'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event or team not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Team already participates in this event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/v1/{eventId}/games:
    get:
      summary: Get an event schedule
      description: Public schedule, QUALIFYING before PLAYOFF with team names joined. Empty until an admin generates it.
      security: []
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: The schedule.
          content:
            application/json:
              schema:
                type: object
                required:
                  - games
                properties:
                  games:
                    type: array
                    items:
                      $ref: '#/components/schemas/Game'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/v1/{eventId}/games/generate:
    post:
      summary: Generate a schedule from CONFIRMED teams
      description: Admin-only generate-then-edit start. Round robin emits the whole schedule; Swiss appends one round (defaults to the next unplayed round). Refuses when games exist unless replace is true and no game holds a result.
      security:
        - icaaCookieAuth: [admin]
        - icaaBearerAuth: [admin]
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
      requestBody:
        description: Generation request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRequest'
      responses:
        '200':
          description: The generated games.
          content:
            application/json:
              schema:
                type: object
                required:
                  - games
                properties:
                  games:
                    type: array
                    items:
                      $ref: '#/components/schemas/Game'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Generation refused by event or schedule state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/v1/{eventId}/games/{gameId}:
    put:
      summary: Enter a game score/status
      description: Admin score entry. Blocked once the event is FINALIZED.
      security:
        - icaaCookieAuth: [admin]
        - icaaBearerAuth: [admin]
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
        - name: gameId
          in: path
          description: ID of the game
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
      requestBody:
        description: Score/status update with the expected version
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutGameRequest'
      responses:
        '200':
          description: The updated game.
          content:
            application/json:
              schema:
                type: object
                required:
                  - game
                properties:
                  game:
                    $ref: '#/components/schemas/Game'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event or game not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Event FINALIZED or version conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/v1/{eventId}/standings:
    get:
      summary: Get derived standings
      description: Public standings derived at read time from COMPLETED/FORFEIT qualifying games. DNS teams trail unranked.
      security: []
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: The standings.
          content:
            application/json:
              schema:
                type: object
                required:
                  - standings
                properties:
                  standings:
                    type: array
                    items:
                      $ref: '#/components/schemas/Standing'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /events/v1/{eventId}/register:
    post:
      summary: Sign up for an event
      description: Deprecated in favor of the payment sign up flow, will be removed in the future.
      deprecated: true
      security: []
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
        - name: cf-turnstile-response
          in: header
          description: Cloudflare turnstile CAPTCHA
          required: true
          schema:
            type: string
            example: XXXX.DUMMY.TOKEN.XXXX 
      requestBody:
        description: Registration to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Registration'
      responses:
        '200':
          description: The created registration.
          content:
            application/json:
              schema:
                type: object
                required:
                  - registration
                properties:
                  registration:
                    $ref: '#/components/schemas/Registration'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not allowed to register.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event is not found to register with
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Someone is already signed up under this email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/v1/{eventId}/registrations:
    get:
      summary: Get all registrations for an event
      description: Get all registrations for an event
      security:
        - icaaCookieAuth: [admin]
        - icaaBearerAuth: [admin]
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
        - name: cursor
          in: query
          description: Cursor of where to start from
          required: false
          schema:
            type: string
            example: "12345"
        - name: limit
          in: query
          description: Max amount of registrations to fetch
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 50
            example: 10
      responses:
        '200':
          description: A list of registrations.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - hasNextPage
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Registration'
                  cursor:
                    type: string
                    example: "54321"
                  hasNextPage:
                    type: boolean
                    example: true
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error' 
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Sign up for an event
      description: Starts an event sign up flow
      security: []
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
        - name: cf-turnstile-response
          in: header
          description: Cloudflare turnstile CAPTCHA
          required: true
          schema:
            type: string
            example: XXXX.DUMMY.TOKEN.XXXX 
      requestBody:
        description: Registration to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Registration'
      responses:
        '200':
          description: The created registration with payment info.
          content:
            application/json:
              schema:
                type: object
                required:
                  - info
                properties:
                  info:
                    $ref: '#/components/schemas/RegistrationPaymentInfo'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not allowed to register.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event is not found to register with
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Someone is already signed up under this email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/v1/admin/registrations/{eventId}/{email}/confirm:
    post:
      summary: Manually confirm a registration as paid
      description: "Admin endpoint to mark an unpaid payment-flow registration as paid when the Stripe webhook failed or can no longer be replayed. Sends the confirmation email on first confirm; repeat calls are idempotent. Notifications are best-effort: a 200 response guarantees the registration is paid, not that the email was delivered."
      security:
        - icaaCookieAuth: [admin]
        - icaaBearerAuth: [admin]
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
        - name: email
          in: path
          description: Email of the registration (captain email for teams)
          required: true
          schema:
            type: string
            format: email
            example: jane.doe@example.com
      responses:
        '200':
          description: The confirmed registration.
          content:
            application/json:
              schema:
                type: object
                required:
                  - registration
                  - alreadyPaid
                properties:
                  registration:
                    $ref: '#/components/schemas/Registration'
                  alreadyPaid:
                    type: boolean
                    description: True if the registration was already paid before this call.
                    example: false
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Registration not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/v1/admin/registrations/{eventId}/{email}/notify:
    post:
      summary: Resend registration notifications
      description: "Admin endpoint to resend the confirmation email and mailing-list signup for a paid registration, e.g. when the original send failed. Only paid registrations can be notified; 200 means the email was sent."
      security:
        - icaaCookieAuth: [admin]
        - icaaBearerAuth: [admin]
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
        - name: email
          in: path
          description: Email of the registration (captain email for teams)
          required: true
          schema:
            type: string
            format: email
            example: jane.doe@example.com
      responses:
        '200':
          description: Notifications were sent.
          content:
            application/json:
              schema:
                type: object
                required:
                  - registration
                properties:
                  registration:
                    $ref: '#/components/schemas/Registration'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Registration not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Registration is not paid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/v1/admin/test-email:
    post:
      summary: Test email sending
      description: Sends a test registration confirmation email to the specified address. Admin only.
      security:
        - icaaCookieAuth: [admin]
        - icaaBearerAuth: [admin]
      requestBody:
        description: The email address to send a test email to
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  example: test@example.com
      responses:
        '200':
          description: Test email was sent successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to send test email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/v1/admin/test-mailerlite:
    post:
      summary: Test MailerLite integration
      description: Creates a test group in MailerLite and adds the given emails to it. For ByIndividual, each email is added as an individual subscriber. For ByTeam, the first email is the captain and the rest are team players. Names are auto-generated from email prefixes. Admin only.
      security:
        - icaaCookieAuth: [admin]
        - icaaBearerAuth: [admin]
      requestBody:
        description: Emails and registration type to test with
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - registrationType
                - emails
              properties:
                groupName:
                  type: string
                  description: Name for the test group. Defaults to "MailerLite Test Group".
                  example: "Test Group"
                registrationType:
                  $ref: '#/components/schemas/RegistrationType'
                emails:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    format: email
                  example: ["jane.archer@example.com", "john.doe@example.com"]
                teamName:
                  type: string
                  description: Team name required when registrationType is ByTeam.
                  example: "The Archers"
      responses:
        '200':
          description: Successfully signed up emails to the group
          content:
            application/json:
              schema:
                type: object
                properties:
                  groupId:
                    type: string
                    example: "123456789"
                  groupName:
                    type: string
                    example: "Test Group"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to test mailerlite integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    icaaCookieAuth:
      type: apiKey
      in: cookie
      name: ICAA_ACCESS_TOKEN
      description: ICAA access token cookie
    icaaBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: ICAA access token in Authorization header
  schemas:
    Event:
      type: object
      required:
        - id
        - version
        - name
        - location
        - startTime
        - endTime
        - registrationCloseTime
        - registrationOptions
        - allowedTeamSizeRange
        - signUpStats
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        version:
          type: integer
          readOnly: true
          example: 1
        name:
          type: string
          minLength: 3
          maxLength: 255
          example: ICAA Cup 2025
        location:
          $ref: '#/components/schemas/Location'
        timeZone:
          type: string
          description: Time zone of the event. Defaults to UTC if not set.
          example: America/New_York
        startTime:
          type: string
          format: date-time
          example: "2025-08-19T18:46:53.185Z"
        endTime:
          type: string
          format: date-time
          example: "2025-08-19T22:00:00.000Z"
        registrationCloseTime:
          type: string
          format: date-time
          example: "2025-08-17T23:59:59.000Z"
        registrationOptions:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/EventRegistrationOption'
        allowedTeamSizeRange:
          $ref: '#/components/schemas/Range'
        signUpStats:
          $ref: '#/components/schemas/SignUpStats'
        status:
          $ref: '#/components/schemas/EventStatus'
        rulesDocLink:
          type: string
          maxLength: 500
          example: https://docs.google.com/document/d/adsffafsafsadfd/view
        imageName:
          type: string
          maxLength: 500
          description: A file name that exists in the UI assets to use as the logo.
          example: boston-tournament.jpg
    SignUpStats:
      type: object
      readOnly: true
      required:
        - numTeams
        - numRosteredPlayers
        - numTotalPlayers
      properties:
        numTeams:
          type: integer
          example: 10
          minimum: 0
        numRosteredPlayers:
          type: integer
          example: 50
          minimum: 0
        numTotalPlayers:
          type: integer
          example: 55
          minimum: 0
    EventStatus:
      type: string
      description: Lifecycle state of an event (RFC-0002 §3). Optional in the API; defaults server-side to OPENED.
      enum:
        - OPENED
        - IN_PROGRESS
        - FINALIZED
      example: OPENED
    TeamStatus:
      type: string
      description: Lifecycle state of a team. Set server-side on create; no update endpoint yet.
      enum:
        - ACTIVE
        - ARCHIVED
      example: ACTIVE
    Team:
      type: object
      required:
        - id
        - version
        - name
        - homeCity
        - status
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        version:
          type: integer
          readOnly: true
          example: 1
        name:
          type: string
          minLength: 3
          maxLength: 100
          example: The Fighting Mongooses
        homeCity:
          type: string
          minLength: 3
          maxLength: 100
          example: Anytown, USA
        status:
          $ref: '#/components/schemas/TeamStatus'
        captainPlayerId:
          type: string
          format: uuid
          nullable: true
          description: Player UUID of the captain. Nullable in the MVP; unverified until player-profiles lands.
          example: 00000000-0000-0000-0000-000000000000
        createdAt:
          type: string
          format: date-time
          readOnly: true
          example: "2025-08-19T18:46:53.185Z"
        updatedAt:
          type: string
          format: date-time
          readOnly: true
          example: "2025-08-19T18:46:53.185Z"
    ParticipationStatus:
      type: string
      description: Lifecycle state of a team's event entry. Seeded CONFIRMED in the MVP bypass.
      enum:
        - REGISTERED
        - CONFIRMED
        - WITHDRAWN
        - DNS
      example: CONFIRMED
    Participation:
      type: object
      required:
        - eventId
        - teamId
        - status
        - rosterSnapshot
        - rosterSizeAtEvent
        - version
      properties:
        eventId:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        teamId:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        status:
          $ref: '#/components/schemas/ParticipationStatus'
        rosterSnapshot:
          type: array
          description: Player UUIDs frozen at entry. Empty in the MVP (no player-profiles yet).
          items:
            type: string
            format: uuid
          example: []
        rosterSizeAtEvent:
          type: integer
          minimum: 0
          example: 0
        version:
          type: integer
          readOnly: true
          example: 1
    GamePhase:
      type: string
      enum:
        - QUALIFYING
        - PLAYOFF
      example: QUALIFYING
    GameStatus:
      type: string
      enum:
        - SCHEDULED
        - COMPLETED
        - FORFEIT
        - DOUBLE_FORFEIT
        - CANCELLED
        - BYE
      example: SCHEDULED
    GameFormat:
      type: string
      enum:
        - ROUND_ROBIN
        - SWISS
      example: ROUND_ROBIN
    GameSide:
      type: object
      properties:
        teamId:
          type: string
          format: uuid
          nullable: true
          example: 00000000-0000-0000-0000-000000000000
        teamName:
          type: string
          nullable: true
          example: Boston Renegades
        isBye:
          type: boolean
          example: false
    Game:
      type: object
      required:
        - id
        - eventId
        - phase
        - round
        - seq
        - status
        - sideA
        - sideB
        - version
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        eventId:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        phase:
          $ref: '#/components/schemas/GamePhase'
        round:
          type: integer
          minimum: 1
          example: 1
        seq:
          type: integer
          minimum: 1
          example: 1
        status:
          $ref: '#/components/schemas/GameStatus'
        sideA:
          $ref: '#/components/schemas/GameSide'
        sideB:
          $ref: '#/components/schemas/GameSide'
        scoreA:
          type: integer
          minimum: 0
          nullable: true
          example: 10
        scoreB:
          type: integer
          minimum: 0
          nullable: true
          example: 5
        forfeitSide:
          type: string
          nullable: true
          enum:
            - A
            - B
          example: A
        version:
          type: integer
          readOnly: true
          example: 1
    GenerateRequest:
      type: object
      required:
        - format
      properties:
        format:
          $ref: '#/components/schemas/GameFormat'
        mirror:
          type: boolean
          description: Double round robin with swapped sides (ROUND_ROBIN only).
          example: false
        round:
          type: integer
          minimum: 1
          description: Swiss round to generate; defaults to the next unplayed round.
          example: 2
        replace:
          type: boolean
          description: Delete unplayed games before regenerating (ROUND_ROBIN only; Swiss rounds append). Refused when any game holds a result.
          example: false
    PutGameRequest:
      type: object
      required:
        - status
        - version
      properties:
        status:
          $ref: '#/components/schemas/GameStatus'
        scoreA:
          type: integer
          minimum: 0
          nullable: true
          example: 10
        scoreB:
          type: integer
          minimum: 0
          nullable: true
          example: 5
        forfeitSide:
          type: string
          nullable: true
          enum:
            - A
            - B
          example: A
        version:
          type: integer
          description: Expected game version for optimistic concurrency.
          example: 1
    Standing:
      type: object
      required:
        - teamId
        - teamName
        - gp
        - wins
        - losses
        - pf
        - pa
        - net
        - rank
        - dns
      properties:
        teamId:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        teamName:
          type: string
          example: Boston Renegades
        gp:
          type: integer
          example: 5
        wins:
          type: integer
          example: 4
        losses:
          type: integer
          example: 1
        pf:
          type: integer
          example: 50
        pa:
          type: integer
          example: 30
        net:
          type: integer
          example: 20
        rank:
          type: integer
          description: 1-based qualifying order; zero when DNS.
          example: 1
        dns:
          type: boolean
          example: false
    Registration:
      oneOf:
        - $ref: '#/components/schemas/IndividualRegistration'
        - $ref: '#/components/schemas/TeamRegistration'
      discriminator:
        propertyName: registrationType
        mapping:
          ByIndividual: '#/components/schemas/IndividualRegistration'
          ByTeam: '#/components/schemas/TeamRegistration'
    IndividualRegistration:
      type: object
      required:
        - registrationType
        - id
        - version
        - eventId
        - registeredAt
        - email
        - homeCity
        - playerInfo
        - experience
        - paid
      properties:
        registrationType:
          $ref: '#/components/schemas/RegistrationType'
        id:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        version:
          type: integer
          readOnly: true
          example: 1
        eventId:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        registeredAt:
          type: string
          format: date-time
          readOnly: true
          example: "2025-08-19T18:46:53.185Z"
        email:
          type: string
          format: email
          minLength: 3
          maxLength: 100
          example: jane.doe@example.com
        homeCity:
          type: string
          minLength: 3
          maxLength: 100
          example: Anytown, USA
        playerInfo:
          $ref: '#/components/schemas/PlayerInfo'
        experience:
          $ref: '#/components/schemas/ExperienceLevel'
        paid:
          type: boolean
          readOnly: true
          example: true
    TeamRegistration:
      type: object
      required:
        - registrationType
        - id
        - version
        - eventId
        - registeredAt
        - teamName
        - homeCity
        - captainEmail
        - players
        - paid
      properties:
        registrationType:
          $ref: '#/components/schemas/RegistrationType'
        id:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        version:
          type: integer
          readOnly: true
          example: 1
        eventId:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        registeredAt:
          type: string
          format: date-time
          readOnly: true
          example: "2025-08-19T18:46:53.185Z"
        teamName:
          type: string
          minLength: 3
          maxLength: 100
          example: The Fighting Mongooses
        homeCity:
          type: string
          minLength: 3
          maxLength: 100
          example: Anytown, USA
        captainEmail:
          type: string
          format: email
          minLength: 3
          maxLength: 100
          example: captain@example.com
        players:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/PlayerInfo'
        paid:
          type: boolean
          readOnly: true
          example: true
    PlayerInfo:
      type: object
      required:
        - firstName
        - lastName
      properties:
        firstName:
          type: string
          minLength: 1
          maxLength: 50
          example: Jane
        lastName:
          type: string
          minLength: 1
          maxLength: 50
          example: Doe
        email:
          type: string
          format: email
          minLength: 3
          maxLength: 100
          example: player@example.com
          description: Optional email for each player
    Location:
      type: object
      required:
        - name
        - address
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
          example: Anytown Community Center
        address:
          $ref: '#/components/schemas/Address'
    Address:
      type: object
      properties:
        street:
          type: string
          description: Street address
          minLength: 3
          maxLength: 255
          example: 123 Main St
        city:
          type: string
          description: City or town
          minLength: 3
          maxLength: 50
          example: Anytown
        state:
          type: string
          description: State or province
          minLength: 2
          maxLength: 50
          example: CA
        postalCode:
          type: string
          description: Postal code
          minLength: 3
          maxLength: 20
          example: "90210"
        country:
          type: string
          description: Country
          minLength: 2
          maxLength: 50
          example: USA
      required:
        - street
        - city
        - state
        - postalCode
        - country
    Range:
      type: object
      required:
        - min
        - max
      properties:
        min:
          type: integer
          example: 1
          minimum: 0
        max:
          type: integer
          example: 5
          minimum: 1
    Money:
      type: object
      required:
        - currency
        - amount
      properties:
        currency:
          type: string
          format: iso-4217
          example: USD
        amount:
          type: integer
          description: Minor units of money (i.e. 100 == $1 in USD)
          example: 100
    EventRegistrationOption:
      type: object
      required:
        - registrationType
        - price
      properties:
        registrationType:
          $ref: '#/components/schemas/RegistrationType'
        price:
          $ref: '#/components/schemas/Money'
    RegistrationPaymentInfo:
      type: object
      required:
        - clientSecret
        - expiresAt
        - registration
      properties:
        clientSecret:
          type: string
        expiresAt:
          type: string
          format: date-time
        registration:
          $ref: '#/components/schemas/Registration'
    RegistrationType:
      type: string
      enum:
        - ByIndividual
        - ByTeam
      example: ByIndividual
    ExperienceLevel:
      type: string
      enum:
        - Novice
        - Intermediate
        - Advanced
      example: Intermediate
    ErrorCode:
      type: string
      enum:
        - InternalError
        - LimitOutOfBounds
        - InvalidCursor
        - NotFound
        - EmptyBody
        - InvalidBody
        - AlreadyExists
        - Conflict
        - RegistrationClosed
        - RegistrationUnpaid
        - InputValidationError
        - AuthError
        - CaptchaInvalid
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
          example: InternalError
        message:
          type: string
          example: An unexpected error occurred.
