openapi: 3.0.0
info:
  title: ICAA Event Registration
  version: 1.0.0
  description: An API for managing events and signing up for events.
servers:
  - url: https://api.icaa.world/
    description: Production server
  - url: http://localhost:3000/
    description: Local dev server
security:
  - googleCookieAuth: []
  - googleBearerAuth: []
paths:
  /events/v1:
    get:
      summary: Get all events
      description: Retrieves a list of all events
      security: []
      parameters:
        - name: cursor
          in: query
          description: Cursor of where to start from
          required: false
          schema:
            type: string
            example: "Y29uZ3JhdHMsIHlvdSBmb3VuZCB0aGUgZWFzdGVyIGVnZw=="
        - name: limit
          in: query
          description: Max amount of events to fetch
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 50
            example: 10
      responses:
        '200':
          description: A list of events.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - hasNextPage
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  cursor:
                    type: string
                    example: "Y29uZ3JhdHMsIHlvdSBmb3VuZCB0aGUgZWFzdGVyIGVnZw=="
                  hasNextPage:
                    type: boolean
                    example: true
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error' 
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new event
      description: Admin endpoint to create a new event
      security:
        - googleCookieAuth: [admin]
        - googleBearerAuth: [admin]
      requestBody:
        description: Event to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: The created event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/v1/{id}:
    get:
      summary: Get an event
      description: Get one event by id
      security: []
      parameters:
        - name: id
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: The event
          content:
            application/json:
              schema:
                type: object
                required:
                  - event
                properties:
                  event:
                    $ref: '#/components/schemas/Event'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error' 
        '404':
          description: Event not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error' 
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/v1/{eventId}/register:
    post:
      summary: Sign up for an event
      description: Sign up for an event
      security: []
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
      requestBody:
        description: Registration to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Registration'
      responses:
        '200':
          description: The created registration.
          content:
            application/json:
              schema:
                type: object
                required:
                  - registration
                properties:
                  registration:
                    $ref: '#/components/schemas/Registration'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not allowed to register.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event is not found to register with
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Someone is already signed up under this email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/v1/{eventId}/registrations:
    get:
      summary: Get all registrations for an event
      description: Get all registrations for an event
      security:
        - googleCookieAuth: [admin]
        - googleBearerAuth: [admin]
      parameters:
        - name: eventId
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
        - name: cursor
          in: query
          description: Cursor of where to start from
          required: false
          schema:
            type: string
            example: "12345"
        - name: limit
          in: query
          description: Max amount of registrations to fetch
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 50
            example: 10
      responses:
        '200':
          description: A list of registrations.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - hasNextPage
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Registration'
                  cursor:
                    type: string
                    example: "54321"
                  hasNextPage:
                    type: boolean
                    example: true
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error' 
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    googleCookieAuth:
      type: apiKey
      in: cookie
      name: GOOGLE_AUTH_JWT
    googleBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Event:
      type: object
      required:
        - id
        - version
        - name
        - location
        - startTime
        - endTime
        - registrationCloseTime
        - registrationOptions
        - allowedTeamSizeRange
        - signUpStats
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        version:
          type: integer
          readOnly: true
          example: 1
        name:
          type: string
          minLength: 3
          maxLength: 255
          example: ICAA Cup 2025
        location:
          $ref: '#/components/schemas/Location'
        startTime:
          type: string
          format: date-time
          example: "2025-08-19T18:46:53.185Z"
        endTime:
          type: string
          format: date-time
          example: "2025-08-19T22:00:00.000Z"
        registrationCloseTime:
          type: string
          format: date-time
          example: "2025-08-17T23:59:59.000Z"
        registrationOptions:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/EventRegistrationOption'
        allowedTeamSizeRange:
          $ref: '#/components/schemas/Range'
        signUpStats:
          $ref: '#/components/schemas/SignUpStats'
        rulesDocLink:
          type: string
          maxLength: 500
          example: https://docs.google.com/document/d/adsffafsafsadfd/view
        imageName:
          type: string
          maxLength: 500
          description: A file name that exists in the UI assets to use as the logo.
          example: boston-tournament.jpg
    SignUpStats:
      type: object
      readOnly: true
      required:
        - numTeams
        - numRosteredPlayers
        - numTotalPlayers
      properties:
        numTeams:
          type: integer
          example: 10
          minimum: 0
        numRosteredPlayers:
          type: integer
          example: 50
          minimum: 0
        numTotalPlayers:
          type: integer
          example: 55
          minimum: 0
    Registration:
      oneOf:
        - $ref: '#/components/schemas/IndividualRegistration'
        - $ref: '#/components/schemas/TeamRegistration'
      discriminator:
        propertyName: registrationType
        mapping:
          ByIndividual: '#/components/schemas/IndividualRegistration'
          ByTeam: '#/components/schemas/TeamRegistration'
    IndividualRegistration:
      type: object
      required:
        - registrationType
        - id
        - version
        - eventId
        - registeredAt
        - email
        - homeCity
        - playerInfo
        - experience
        - paid
      properties:
        registrationType:
          $ref: '#/components/schemas/RegistrationType'
        id:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        version:
          type: integer
          readOnly: true
          example: 1
        eventId:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        registeredAt:
          type: string
          format: date-time
          readOnly: true
          example: "2025-08-19T18:46:53.185Z"
        email:
          type: string
          format: email
          minLength: 3
          maxLength: 100
          example: jane.doe@example.com
        homeCity:
          type: string
          minLength: 3
          maxLength: 100
          example: Anytown, USA
        playerInfo:
          $ref: '#/components/schemas/PlayerInfo'
        experience:
          $ref: '#/components/schemas/ExperienceLevel'
        paid:
          type: boolean
          readOnly: true
          example: true
    TeamRegistration:
      type: object
      required:
        - registrationType
        - id
        - version
        - eventId
        - registeredAt
        - teamName
        - homeCity
        - captainEmail
        - players
        - paid
      properties:
        registrationType:
          $ref: '#/components/schemas/RegistrationType'
        id:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        version:
          type: integer
          readOnly: true
          example: 1
        eventId:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        registeredAt:
          type: string
          format: date-time
          readOnly: true
          example: "2025-08-19T18:46:53.185Z"
        teamName:
          type: string
          minLength: 3
          maxLength: 100
          example: The Fighting Mongooses
        homeCity:
          type: string
          minLength: 3
          maxLength: 100
          example: Anytown, USA
        captainEmail:
          type: string
          format: email
          minLength: 3
          maxLength: 100
          example: captain@example.com
        players:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/PlayerInfo'
        paid:
          type: boolean
          readOnly: true
          example: true
    PlayerInfo:
      type: object
      required:
        - firstName
        - lastName
      properties:
        firstName:
          type: string
          minLength: 1
          maxLength: 50
          example: Jane
        lastName:
          type: string
          minLength: 1
          maxLength: 50
          example: Doe
    Location:
      type: object
      required:
        - name
        - address
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
          example: Anytown Community Center
        address:
          $ref: '#/components/schemas/Address'
    Address:
      type: object
      properties:
        street:
          type: string
          description: Street address
          minLength: 3
          maxLength: 255
          example: 123 Main St
        city:
          type: string
          description: City or town
          minLength: 3
          maxLength: 50
          example: Anytown
        state:
          type: string
          description: State or province
          minLength: 2
          maxLength: 50
          example: CA
        postalCode:
          type: string
          description: Postal code
          minLength: 3
          maxLength: 20
          example: "90210"
        country:
          type: string
          description: Country
          minLength: 2
          maxLength: 50
          example: USA
      required:
        - street
        - city
        - state
        - postalCode
        - country
    Range:
      type: object
      required:
        - min
        - max
      properties:
        min:
          type: integer
          example: 1
          minimum: 0
        max:
          type: integer
          example: 5
          minimum: 1
    Money:
      type: object
      required:
        - currency
        - amount
      properties:
        currency:
          type: string
          format: iso-4217
          example: USD
        amount:
          type: integer
          description: Minor units of money (i.e. 100 == $1 in USD)
          example: 100
    EventRegistrationOption:
      type: object
      required:
        - registrationType
        - price
      properties:
        registrationType:
          $ref: '#/components/schemas/RegistrationType'
        price:
          $ref: '#/components/schemas/Money'
    RegistrationType:
      type: string
      enum:
        - ByIndividual
        - ByTeam
      example: ByIndividual
    ExperienceLevel:
      type: string
      enum:
        - Novice
        - Intermediate
        - Advanced
      example: Intermediate
    ErrorCode:
      type: string
      enum:
        - InternalError
        - LimitOutOfBounds
        - InvalidCursor
        - NotFound
        - EmptyBody
        - InvalidBody
        - AlreadyExists
        - RegistrationClosed
        - InputValidationError
        - AuthError
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
          example: InternalError
        message:
          type: string
          example: An unexpected error occurred.
